# By default, ignore everything except directories. If we do not
# spec that directories are to be add-able, then git cannot 
# recurse through the directory tree.
*
!*/

# As an example, we *do* want to include shell scripts.
!*.sh
